{% extends "admin/base_site.html" %}
{% load static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static 'forms/response-details.css' %}?v=blue-palette-20260926-2"><link rel="stylesheet" href="{% static 'forms/response-board.css' %}?v=blue-palette-20260926-2"><link rel="stylesheet" href="{% static 'forms/response-selects.css' %}?v=blue-palette-20260926-2">{% endblock %}
{% block extrahead %}{{ block.super }}<link rel="stylesheet" href="{% static 'forms/response-workspace.css' %}?v=blue-palette-20260926-2"><script src="{% static 'forms/response-review.js' %}?v=4" defer></script><script src="{% static 'forms/response-documents.js' %}?v=2" defer></script><script src="{% static 'forms/response-workspace.js' %}?v=audit-20260925" defer></script><script src="{% static 'forms/response-date-picker.js' %}?v=1" defer></script><script src="{% static 'forms/response-selects.js' %}?v=2" defer></script><script src="{% static 'forms/response-board-drag.js' %}?v=1" defer></script>{% endblock %}
{% block content %}
<main class="responses-workspace response-workspace-new">
    {% include "admin/submissions/responses/_header.html" %}
    {% include "admin/submissions/responses/_summary.html" %}
    {% include "admin/submissions/responses/_filters.html" %}
    {% if response_layout == 'board' %}
        {% include "admin/submissions/responses/_board.html" %}
    {% elif response_layout == 'list' %}
        {% include "admin/submissions/responses/_table.html" %}
    {% else %}
        {% include "admin/submissions/responses/_work.html" %}
    {% endif %}
</main>
{{ review_transitions|json_script:"review-transitions" }}
{% include "admin/submissions/responses/_review_dialog.html" %}
{% endblock %}
{% block footer %}{% if response_layout != 'board' %}{% include "unfold/helpers/pagination.html" %}{% endif %}{% endblock %}
